{% extends "base.html" %}

{% block content %}
{% if todo_list %}
<table class="table table-striped table-dark pd-5">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Title/ Tasks</th>
      <th scope="col">Discriptions</th>
      <th scope="col">Status</th>
      <th scope="col">About</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for todo in todo_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{todo.title}}</td>
        <td style="width: 40%;">{{todo.description|truncatechars:80}} </td>
        <td >
            {% if todo.completed %}
                Completed
            {% else %}
                Pending
            {% endif %}
         </td>
        <td><a href="{% url 'details' todo.id %}">Details</a></td>
        <td>
          <span>
            {% if not todo.completed %}
            <button type="button" class="btn btn-success"><a href="{% url 'complite_task' todo.id %}" style="color: white;">Complited</a></button>
            {% else %}
            <button type="button" class="btn btn-danger"><a href="{% url 'delete_task' todo.id %}" style="color: white;">Delete</a></button>
            {% endif %}
          </span>
        </td>
    </tr>
        {% endfor %}
  </tbody>
</table>
{% else %}
<p>No tasks found.</p>
{% endif %}

</table>
{% endblock %}